:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;

  --font-family: "Inter", sans-serif;

  --text-color: #333333;
  --background-color: #ffffff;
}

body {
  font-family: var(--font-family);

  color: var(--text-color);
  background-color: var(--background-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
